{% extends "gymapp/base.html" %}
{% block title %}Ingreso de socio{% endblock %}
{% block content %}
<div class="container py-5 d-flex justify-content-center">
  <div class="card shadow-lg rounded-4 p-4 card-420 full-width card-no-border">
    <h2 class="mb-3 text-center">Ingreso de socio</h2>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <div class="mb-3">
        <label for="dni" class="form-label">DNI</label>
        <input id="dni" name="dni" type="text" class="form-control" placeholder="Ej: 40123456">
      </div>
      <button class="btn btn-success w-100">Ingresar</button>
    </form>
    <div class="text-center mt-3">
      <a class="btn btn-link text-light" href="{% url 'member_list' %}">Volver</a>
    </div>
  </div>
</div>
{% endblock %}
